{
    "Rules": [
        {
            "ID": "retention-backup-bitwarden",
            "Status": "Enabled", 
            "Filter": {
                "Prefix": "${S3_PREFIX}"
            },
            "Expiration": {
                "Days": ${RETENTION}
            }
        }
    ]
}